h1{
    color: rgb(22, 73, 73);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    text-align: center;
    font-size: 50px;
    background-color: aqua;
}
h2{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 35px;
}
form{
    text-align: center;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: rgb(22, 22, 37);
}
body{
    background-color: bisque;
}